fastapi
uvicorn
python-dotenv
pymongo
langchain_pinecone
langchain_mongodb
langchain
langchain-google-genai
langchain-community
pypdf
requests
passlib
python-jose
pydantic
python-multipart
PyJWT
bcrypt
asyncio
httpx
asyncio
aiofiles