fastapi
uvicorn
python-dotenv
pymongo
langchain_pinecone
langchain_mongodb
langchain
langchain-google-genai
langchain-community
pypdf
requests
passlib[bcrypt]>=1.7.4
python-jose
pydantic
python-multipart
PyJWT
bcrypt>=4.0.1,<5.0.0
asyncio
httpx
asyncio
aiofiles